<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>com.gerbil.GerbilFlicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>561B8D8D1DB0AAA9007CEBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>561B8DA11DB0AAAA007CEBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>561B8DAC1DB0AAAA007CEBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
